@import "variabili";
@import "button";
html {
  width: $full-width;
  margin: $no-margin;
  body {
    margin: $no-margin;
    width: $full-width;
    background-color: $color-secondary;
    display: flex;
    flex-direction: column;
    justify-content: center;

    img {
      border: 2px solid white;
      margin: 2em;
    }
  }
}

nav {
  background-color: $color-primary;
  display: flex;
  justify-content: space-around;
  margin: $header-margin;
  border-radius: 10px;

  ul {
    margin: $no-margin;
    padding: 0;
    display: flex;
    align-items: center;
    list-style-type: none;
    li {
      cursor: pointer;
      font-family: "Pangolin", cursive;
      color: white;
      margin: 10px;
      &:hover {
        font-size: large;
      }
    }
  }
}

footer {
  font-family: "Pangolin", cursive;
  color: white;
  display: flex;
  justify-content: center;
  background-color: $color-primary;
  margin-top: 22px;
  height: 60px;
}
